<h1><%= @post.title %></h1>
<div>
  <%= @post.body %>
</div>
<%= link_to "Edit Post",edit_post_path(@post)%><br>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are You Sure to Delete ?"} %><br>
<%= link_to "sign out", destroy_user_session_path, method: :delete %><br>
<%= link_to "All Post", posts_path %>

