<h1> Title ::</h1><h2><%= @post.title %></h2>
<div>
  <h3> Description ::</h3><%= @post.body %>
</div><br><br>
<%= link_to "Edit Post",edit_post_path(@post)%>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are You Sure to Delete ?"} %>
<%= link_to "All Post", posts_path %>
